body {
  padding: 20px;
}

.btn:focus,.btn:active {
  outline: none !important;
}

label.focus {
  outline: none !important;
}

/* for tree */
.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

/* for nav bar */
.top {
  background-color: rgb(51, 103, 214);
  padding-bottom: 10px;
  padding-top: 10px;
}

/* for full title and url display */
.truncate {
  color: #fff;
  margin-top: -3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.fullTitle {
  font-size: 16px;
  font-weight: bold;
  padding-top: 2px;
}

.fullUrl {
  font-size: 12px;
}

/* expandAll button */
.expandAllBtn {
  background-color: #303f9f;
  color: #fff;
  height: 36px;
  padding-top: 7px;
  width: 150px;
}

.expandAllBtn:hover {
  background-color: #2d3b96;
  color: #fff !important;
}

.expandAllContainer {
  width: 175px !important;
}

/* logo */
.logo {
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  width: 230px !important;
}


/* Search */
.custom-search-input {
  background-color: #fff;
  border: solid 1px #E4E4E4;
  border-radius: 4px;
}

.custom-search-input input,
.custom-search-input input:focus {
  border: 0;
  box-shadow: none;
}

.custom-search-input button,
.custom-search-input button:hover,
.custom-search-input button:active,
.custom-search-input button:focus {
  background: none;
  box-shadow: none;
  color: #666666;
  margin: 2px 0 0 0;
  padding: 0 8px 0 10px;
}

.custom-search-input .searchBtn,
.custom-search-input .searchBtn:hover {
  border-left: solid 1px #ccc;
  font-size: 17px;
}

.custom-search-input .clearBtn {
  font-size: 15px;
  visibility: hidden;
}

/* for the side bar */
.navbar-fixed-left {
  border-radius: 0;
  left: 0;
  padding-left: 0;
  padding-right: 0;
  position: fixed;
  top: 0;
  z-index: 1029;
}

.space {
  background-color: #fff;
  border-right: 1px solid lightgray;
  height: 100vh;
  text-align: center;
  width: 260px;
}

.tree-padding {
  min-width: 200px;
}

.side-bar-container {
  padding: 10px;
}

.side-bar-top {
  margin-top: 40px;
}

.box-header {
  color: #777;
  font-size: 12pt;
  font-weight: 400;
  padding-top: 25px;
  text-align: left;
}

.box-title {
  font-size: 11pt;
}

.box-subtitle {
  font-size: 9pt;
  margin-top: 5px;
}

.funkyradio div {
  clear: both;
  overflow: hidden;
}

.funkyradio label {
  font-weight: normal;
  width: 100%;
}

.funkyradio input[type="radio"], 
.funkyradio input[type="checkbox"] {
  display: none;
  visibility: hidden;
}

.funkyradio input[type="radio"]:empty ~ .box-text-container, 
.funkyradio input[type="checkbox"]:empty ~ .box-text-container {
  background-color: #eee;
  border-bottom: 2px solid #ddd;
  color: #444;
  cursor: pointer;
  font-weight: 400;
  height: 60px;
  line-height: 1.25em;
  margin-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  text-align: left;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ .box-text-container, 
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ .box-text-container {
  color: #111;
}

.funkyradio input[type="radio"]:checked ~ .box-text-container, 
.funkyradio input[type="checkbox"]:checked ~ .box-text-container {
  font-weight: 500;
}

.funkyradio-open input[type="radio"]:checked ~ .box-text-container, 
.funkyradio-open input[type="checkbox"]:checked ~ .box-text-container {
  background-color: #5cb85c;
  border-bottom: 2px solid #479147;
  color: #fff;
}

.funkyradio-closed input[type="radio"]:checked ~ .box-text-container, 
.funkyradio-closed input[type="checkbox"]:checked ~ .box-text-container {
  background-color: #337ab7;
  border-bottom: 2px solid #2b679b;
  color: #fff;
}
