body {
  padding: 20px;
}

.btn:focus,.btn:active {
  outline: none !important;
}

label.focus {
  outline: none !important;
}

/* for tree */
.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

/* for nav bar */
.top {
  background-color: rgb(51, 103, 214);
  padding-top: 10px;
  padding-bottom: 10px;
}

.hug-left {
  padding-left: 0px !important;
  margin-left: 0px !important;
}

.push-off-left {
  padding-left: 15px;
}

.float-right {
  float: right;
  padding-right: 15px;
}

/* for full title and url display */
.truncate {
  margin-top: -3px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
}

#fullTitle {
  padding-top: 2px;
  font-weight: bold;
  font-size: 16px;
}

#fullUrl {
  font-size: 12px;
}

/* expandAll button */
#expandAll {
  width: 150px;
  background-color: #303f9f;
  color: #fff;
  height: 36px;
  padding-top: 7px;
}

.expandAll {
  width: 175px !important;
}

/* logo */
.logo {
  font-size: 25px;
  text-align: center;
  width: 230px !important;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #fff;
}

/* for the side bar */
.navbar-fixed-left {
  border-radius: 0;
  left: 0;
  padding-left: 0;
  padding-right: 0;
  position: fixed;
  top: 0;
  z-index: 1029;
}

.space {
  background-color: #fff;
  border-color: lightgray;
  border-right: 1px solid;
  height: 100vh;
  text-align: center;
  width: 230px;
}

.side-bar-top {
  margin-top: 74px;
}

/* Search */
.custom-search-input {
  background-color: #fff;
  border: solid 1px #E4E4E4;
  border-radius: 4px;
}

.custom-search-input input {
  border: 0;
  box-shadow: none;
}

.custom-search-input button {
  background: none;
  border: 0;
  border-left: solid 1px #ccc;
  box-shadow: none;
  color: #666666;
  margin: 2px 0 0 0;
  padding: 0 8px 0 10px;
}

.custom-search-input button:hover {
  border: 0;
  border-left: solid 1px #ccc;
  box-shadow: none;
}

.custom-search-input .glyphicon-search {
  font-size: 17px;
}

.clearBtn {
  border: 0 !important;
  border-left: 0 !important;
  font-size: 15px;
  visibility: hidden;
}